// nextflow.config

conda.enabled = true

params.input = '/Users/nlg143/projects/cns_qc/data/data.csv'
params.output = 'data_out_nf.csv'

params.read_in = '/Users/nlg143/projects/cns_qc/data/filtered_gene_bc_matrices/hg19/matrix.mtx'
params.read_out = 'adata.h5ad'

params.pre_in = '/Users/nlg143/projects/cns_qc/results/adata.h5ad'
params.pre_out = "figures/highest_expr_genes_.png"
params.vio1 = "figures/violin_1.png"
params.vio2 = "figures/violin_2.png"
params.vio3 = "figures/violin_3.png"
params.scat1 = "figures/scatter_pct_counts_mt.png"
params.scat2 = "figures/scatter_n_genes_by_count.png"
params.dispersion = "figures/filter_genes_dispersion_1.png"
params.pre_adata_out = "adata_2pp_out.h5ad"

params.pca_plot1 = "figures/pca_pcaplot.png" 
params.pca_plot2 = "figures/pca_variance_ratio_plot.png"
params.pca_plot3 = "figures/umap_raw_embedding_neighbourhood.png"
params.pca_plot4 = "figures/umap_embedding_neighbourhood.png"
params.pca_plot5 = "figures/umap_leiden_graph_clustering.png"

process {
    withName: 'EXPRESSION' {
        conda = "/Users/nlg143/anaconda3/envs/py_env"
    }
}

process {
    withName: 'READ' {
        conda = "/Users/nlg143/anaconda3/envs/scanpy_38"
    }
}

process {
    withName: 'PREPRO' {
        conda = "/Users/nlg143/anaconda3/envs/scanpy_38"
    }
}

process {
    withName: 'PCA' {
        conda = "/Users/nlg143/anaconda3/envs/scanpy_38"
    }
}