// nextflow.config

// process IRODS parameters 
//params.irods_in = "/seq/illumina/runs/46/46409/cellranger/cellranger700_count_46409_{$folder}_GRCh38-2020-A/filtered_feature_bc_matrix/*"
//params.irods_in_metadata = "/seq/illumina/runs/46/46409/cellranger/cellranger700_count_46409_{$folder}_GRCh38-2020-A/filtered_feature_bc_matrix/FILENAME"
//params.irods_out = "/lustre/scratch126/cellgen/team298/lg28/sc_nf_data/FCAImmP7241240/*"
//params.irods_out_metadata = "/lustre/scratch126/cellgen/team298/lg28/sc_nf_data/FCAImmP7241240/FILENAME"

profiles {

  conda { 
    conda.enabled = true
    process {
      conda = "$baseDir/envs/environment.yaml"
        withName: SOUP {
            conda = "$baseDir/envs/nf-soupx-from-history.yml"
        } 
    }
  }

  docker { 
    docker.enabled = true
    process {
      container = 'haniffalab/nf-scanpy:latest'
      withName: SOUP {
        container = 'haniffalab/nf-soupx:latest'
      }
    }
  }
  
  singularity { 
    singularity.enabled = false
    singularity.autoMounts = false
  }
}