// nextflow.config

conda.enabled = true

// process IRODS parameters 
//params.irods_in = "/seq/illumina/runs/46/46409/cellranger/cellranger700_count_46409_{$folder}_GRCh38-2020-A/filtered_feature_bc_matrix/*"
//params.irods_in_metadata = "/seq/illumina/runs/46/46409/cellranger/cellranger700_count_46409_{$folder}_GRCh38-2020-A/filtered_feature_bc_matrix/FILENAME"
//params.irods_out = "/lustre/scratch126/cellgen/team298/lg28/sc_nf_data/FCAImmP7241240/*"
//params.irods_out_metadata = "/lustre/scratch126/cellgen/team298/lg28/sc_nf_data/FCAImmP7241240/FILENAME"



// process LOAD_DATA parameters
params.load_in = "/sc-analysis-nf/output/FCAImmP7241240/soup"
/////////////////////////////Edit This Input File/////////////////////////////////////////////////////////
params.load_metadata = "/home/ndh122/Projects/HaniffaLab/sc-analysis-nf/input/old_raw_metadata.csv"
//////////////////////////////////////////////////////////////////////////////////////////////////////////
params.load_raw_out = "Fskin_0_1_1_raw.h5ad"
params.load_meta_out = "Fskin_obj_0_2_1.h5ad"

// process SCRUBLET parameters
params.scrub_in = "/sc-analysis-nf/output/FCAImmP7241240/Fskin_obj_0_2_1.h5ad"
params.scrub_out = "Fskin_obj_0_3_1.h5ad"
params.scrub_histogram = "scrublet_histogram.png"
params.scrub_umap = "scrublet_umap.png"

// process SCANPY parameters
params.scanpy_in = "/sc-analysis-nf/output/FCAImmP7241240/Fskin_obj_0_3_1.h5ad"
params.scanpy_plot1 = "qcmetrics_totalcounts.png"
params.scanpy_plot2 = "figures/violin_qcmetrics_pctcountsmt.png"
params.scanpy_plot3 = "figures/scatter_qcmetrics.png"
params.scanpy_plot4 = "figures/violin_all_counts.png"
params.scanpy_plot5 = "figures/violin_qc_all_counts.png"
params.scanpy_plot6 = "figures/highest_expr_genes_FCAImmP7241240.png"  
params.scanpy_plot7 = "figures/filter_genes_dispersion_scatter_FCAImmP7241240.png"
params.scanpy_plot8 = "figures/pca_FCAImmP7241240.png"
params.scanpy_plot9 = "figures/pca_variance_ratio_FCAImmP7241240.png"
params.scanpy_plot10 = "figures/umap_neighbour_FCAImmP7241240.png"
params.scanpy_plot11 = "figures/umap_doubletscores.png"
params.scanpy_plot12 = "figures/umap_qc_doubletscores.png"
params.scanpy_plot13 = "figures/umap_leiden.png"
params.scanpy_plot14 = "figures/umap_pct_counts.png"
params.scanpy_plot15 = "figures/violin_leiden_pct_counts.png"
params.scanpy_plot16 = "figures/umap_cellcycle.png"
params.scanpy_plot17 = "figures/violin_cellcycle.png"
params.scanpy_plot18 = "figures/violin_outlier.png"
params.scanpy_plot19 = "figures/umap_plot19.png"
params.scanpy_plot20 = "figures/umap_plot20_leiden.png"
params.scanpy_plot21 = "figures/violin_pctcounts_leiden.png"
params.scanpy_plot22 = "figures/violin_outlier_leiden.png"
params.scanpy_plot23 = "figures/umap_cellcycle_leiden.png"
params.scanpy_plot24 = "figures/pca_plot24_normalised.png"
params.scanpy_plot25 = "figures/umap_metadata.png"
params.scanpy_plot26 = "figures/violin_n_genes_by_counts_sangerid.png"
params.scanpy_plot27 = "figures/violin_total_counts_sangerid.png"
params.scanpy_plot28 = "figures/violin_pct_counts_mt_sangerid.png"
params.scanpy_out = "Fskin_obj_0_4_1.h5ad"

// process GENERATE_HTML parameters
params.html_in = "html/html_csv_test.csv"
params.html_template_dir = "html/"
params.html_out = "output/index.html"

process {
    //conda = "$baseDir/envs/environment.yaml"
    //withName: 'LOAD_DATA|SCANPY|GENERATE_HTML' {
      //  conda = "$baseDir/envs/environment.yml"
    //}   
    withName: SOUP {
        conda = "$baseDir/envs/nf-soupx-from-history.yml"
    } 
}
